.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
  padding: 4rem 0;
  max-width: 560px;
}

.content h1 {
  font-size: 54px;
  background: linear-gradient(90deg, #ff6f61, #de1d8d, #7b2ff7);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.content p {
  font-size: 22px;
}

.content a {
  font-size: 24px;
  font-weight: bold;
}

.navContainer {
  display: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2em;
    justify-content: center;
    margin: auto;
  }

  .navContainer {
    display: inherit;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
